EDT/УТ/src/WSReferences/FrontDeliveryTest/4.xsd

<xs:schema xmlns:ns1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
		xmlns:ns2="http://schemas.datacontract.org/2004/07/MainSales.WebUtility.objects.sinc"
		xmlns:tns="strizh-logistic.ru/services/v2/sinc/RegionOrder"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		elementFormDefault="qualified"
		targetNamespace="strizh-logistic.ru/services/v2/sinc/RegionOrder">
	<xs:import schemaLocation="file://5.xsd"
			namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
	<xs:import schemaLocation="file://6.xsd"
			namespace="http://schemas.datacontract.org/2004/07/MainSales.WebUtility.objects.sinc"/>
	<xs:complexType name="Order">
		<xs:sequence>
			<xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
					minOccurs="0"
					name="AdditionalServices"
					nillable="true"
					type="q1:ArrayOfstring"/>
			<xs:element minOccurs="0"
					name="Address"
					nillable="true"
					type="tns:Address"/>
			<xs:element minOccurs="0"
					name="AssessedCost"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="Comment"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="DeliveryCost"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="DeliveryPlaceId"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="DeliveryThisDay"
					nillable="true"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="DesiredDeliveryDate"
					type="xs:dateTime"/>
			<xs:element minOccurs="0"
					name="IsPartialGiveoutDisabled"
					type="xs:boolean"/>
			<xs:element minOccurs="0"
					name="Items"
					nillable="true"
					type="tns:ArrayOfItem"/>
			<xs:element minOccurs="0"
					name="LiftingIsPayed"
					type="xs:boolean"/>
			<xs:element minOccurs="0"
					name="NDSDelivery"
					nillable="true"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="OrderId"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="OrderIdImport"
					nillable="true"
					type="xs:string"/>
			<xs:element name="PayType"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="PaymentMethodOfLifting"
					nillable="true"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="PiecesOfFreight"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="PrepaymentAmount"
					nillable="true"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="SelfDelivery"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="SettingId"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="ShipmentWHDate"
					type="xs:dateTime"/>
			<xs:element minOccurs="0"
					name="SourcePlaceId"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="StockId"
					nillable="true"
					type="xs:string"/>
			<xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MainSales.WebUtility.objects.sinc"
					minOccurs="0"
					name="SystemOptions"
					nillable="true"
					type="q2:ArrayOfSystemOption"/>
			<xs:element minOccurs="0"
					name="TimeDeliveryFrom"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="TimeDeliveryTo"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="TotalCost"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="User"
					nillable="true"
					type="tns:User"/>
			<xs:element minOccurs="0"
					name="Volume"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="Weight"
					type="xs:decimal"/>
			<xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MainSales.WebUtility.objects.sinc"
					minOccurs="0"
					name="barcodes"
					nillable="true"
					type="q3:ArrayOfPieceBarcode"/>
			<xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
					minOccurs="0"
					name="options"
					nillable="true"
					type="q4:ArrayOfstring"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Order"
			nillable="true"
			type="tns:Order"/>
	<xs:complexType name="Address">
		<xs:sequence>
			<xs:element minOccurs="0"
					name="AddressComment"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="AddressId"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="Apartment"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="Building"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="Case"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="City"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="FullAddress"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="House"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="Latitude"
					type="xs:float"/>
			<xs:element minOccurs="0"
					name="Longitude"
					type="xs:float"/>
			<xs:element minOccurs="0"
					name="Region"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="Street"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="ZipCode"
					nillable="true"
					type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Address"
			nillable="true"
			type="tns:Address"/>
	<xs:complexType name="ArrayOfItem">
		<xs:sequence>
			<xs:element minOccurs="0"
					maxOccurs="unbounded"
					name="Item"
					nillable="true"
					type="tns:Item"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfItem"
			nillable="true"
			type="tns:ArrayOfItem"/>
	<xs:complexType name="Item">
		<xs:sequence>
			<xs:element minOccurs="0"
					name="Article"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="AssessedCost"
					nillable="true"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="Barcode"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="BarcodePackage"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="Count"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="ItemId"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="MarkingCode"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="NDS"
					nillable="true"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="Name"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="OrderItemType"
					nillable="true"
					type="xs:unsignedByte"/>
			<xs:element minOccurs="0"
					name="Price"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="SellerInn"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="SellerName"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="SellerPhone"
					nillable="true"
					type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Item"
			nillable="true"
			type="tns:Item"/>
	<xs:complexType name="User">
		<xs:sequence>
			<xs:element minOccurs="0"
					name="Email"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="FIO"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="Phone"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="UserId"
					type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="User"
			nillable="true"
			type="tns:User"/>
</xs:schema>