EDT/УТ/src/WSReferences/FrontDeliveryTest/7.xsd

<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MainSales.WebUtility.objects.terminalOrder"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		elementFormDefault="qualified"
		targetNamespace="http://schemas.datacontract.org/2004/07/MainSales.WebUtility.objects.terminalOrder">
	<xs:complexType name="ArrayOfTerminal">
		<xs:sequence>
			<xs:element minOccurs="0"
					maxOccurs="unbounded"
					name="Terminal"
					nillable="true"
					type="tns:Terminal"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfTerminal"
			nillable="true"
			type="tns:ArrayOfTerminal"/>
	<xs:complexType name="Terminal">
		<xs:sequence>
			<xs:element minOccurs="0"
					name="Address"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="City"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="Code"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="DeliveryDurationFrom"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="DeliveryDurationTo"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="IsActive"
					type="xs:boolean"/>
			<xs:element minOccurs="0"
					name="IsCourierDeliveryEnabled"
					type="xs:boolean"/>
			<xs:element minOccurs="0"
					name="IsSelfDeliveryEnabled"
					type="xs:boolean"/>
			<xs:element minOccurs="0"
					name="TerminalId"
					type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Terminal"
			nillable="true"
			type="tns:Terminal"/>
</xs:schema>