EDT/УТ/src/WSReferences/OZONReportService/WsDefinitions.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="ozon/api/subagent"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="ozon/api/subagent"
		name="ReportService"
		targetNamespace="ozon/api/subagent">
	<types>
		<xs:schema xmlns:i0="http://api.ocourier.ru/subagent/report"
				xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
				xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
				xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
				xmlns:wsa10="http://www.w3.org/2005/08/addressing"
				xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
				xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
				xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
				xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
				xmlns:xs="http://www.w3.org/2001/XMLSchema"
				elementFormDefault="qualified"
				targetNamespace="ozon/api/subagent">
			<xs:element name="PostingProcessedListGet">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0"
								maxOccurs="1"
								name="request"
								type="xsd1:RequestPostingProcessedListGet"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="RequestPostingProcessedListGet"
					mixed="false">
				<xs:complexContent mixed="false">
					<xs:extension base="xsd1:BaseRequest">
						<xs:sequence>
							<xs:element minOccurs="1"
									maxOccurs="1"
									name="ContractID"
									nillable="true"
									type="xs:long"/>
							<xs:element minOccurs="0"
									maxOccurs="1"
									name="DateFrom"
									type="xs:string"/>
							<xs:element minOccurs="0"
									maxOccurs="1"
									name="DateTo"
									type="xs:string"/>
							<xs:element minOccurs="0"
									maxOccurs="1"
									name="Mode"
									type="xs:string"/>
							<xs:element minOccurs="1"
									maxOccurs="1"
									name="PageSize"
									nillable="true"
									type="xs:int"/>
							<xs:element minOccurs="1"
									maxOccurs="1"
									name="PageNumber"
									nillable="true"
									type="xs:int"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="BaseRequest">
				<xs:sequence>
					<xs:element minOccurs="0"
							maxOccurs="1"
							name="Login"
							type="xs:string"/>
					<xs:element minOccurs="0"
							maxOccurs="1"
							name="Password"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="PostingProcessedListGetResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0"
								maxOccurs="1"
								name="PostingProcessedListGetResult"
								type="xsd1:ReplyPostingProcessedListGet"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="ReplyPostingProcessedListGet"
					mixed="false">
				<xs:complexContent mixed="false">
					<xs:extension base="xsd1:BaseReply">
						<xs:sequence>
							<xs:element minOccurs="0"
									maxOccurs="1"
									name="PostingProcessedInfoList"
									type="xsd1:ArrayOfPostingProcessedInfo"/>
							<xs:element minOccurs="1"
									maxOccurs="1"
									name="Rows"
									nillable="true"
									type="xs:int"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="BaseReply">
				<xs:sequence>
					<xs:element minOccurs="1"
							maxOccurs="1"
							name="ResultCode"
							type="xs:int"/>
					<xs:element minOccurs="0"
							maxOccurs="1"
							name="ResultMessage"
							type="xs:string"/>
					<xs:element minOccurs="0"
							maxOccurs="1"
							name="ResultProcessTime"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOfPostingProcessedInfo">
				<xs:sequence>
					<xs:element minOccurs="0"
							maxOccurs="unbounded"
							name="PostingProcessedInfo"
							nillable="true"
							type="xsd1:PostingProcessedInfo"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PostingProcessedInfo">
				<xs:sequence>
					<xs:element minOccurs="1"
							maxOccurs="1"
							name="PostingID"
							nillable="true"
							type="xs:long"/>
					<xs:element minOccurs="1"
							maxOccurs="1"
							name="PostingName"
							nillable="true"
							type="xs:string"/>
					<xs:element minOccurs="1"
							maxOccurs="1"
							name="ClientAmount"
							nillable="true"
							type="xs:decimal"/>
					<xs:element minOccurs="1"
							maxOccurs="1"
							name="DateIn"
							nillable="true"
							type="xs:string"/>
					<xs:element minOccurs="1"
							maxOccurs="1"
							name="DateOut"
							nillable="true"
							type="xs:string"/>
					<xs:element minOccurs="1"
							maxOccurs="1"
							name="DeliveryVariantID"
							nillable="true"
							type="xs:long"/>
					<xs:element minOccurs="1"
							maxOccurs="1"
							name="DeliveryVariantName"
							nillable="true"
							type="xs:string"/>
					<xs:element minOccurs="1"
							maxOccurs="1"
							name="OperationType"
							nillable="true"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ReportGet">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0"
								maxOccurs="1"
								name="request"
								type="xsd1:RequestReportGet"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="RequestReportGet"
					mixed="false">
				<xs:complexContent mixed="false">
					<xs:extension base="xsd1:BaseRequest">
						<xs:sequence>
							<xs:element minOccurs="1"
									maxOccurs="1"
									name="ID"
									nillable="true"
									type="xs:long"/>
							<xs:element minOccurs="0"
									maxOccurs="1"
									name="ReportType"
									type="xs:string"/>
							<xs:element minOccurs="0"
									maxOccurs="1"
									name="ReportFormat"
									type="xs:string"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="ReportGetResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0"
								maxOccurs="1"
								name="ReportGetResult"
								type="xsd1:ReplyReportGet"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="ReplyReportGet"
					mixed="false">
				<xs:complexContent mixed="false">
					<xs:extension base="xsd1:BaseReply">
						<xs:sequence>
							<xs:element minOccurs="0"
									maxOccurs="1"
									name="ReportData"
									type="xs:base64Binary"/>
							<xs:element minOccurs="0"
									maxOccurs="1"
									name="ReportFormat"
									type="xs:string"/>
							<xs:element minOccurs="0"
									maxOccurs="1"
									name="ReportExtension"
									type="xs:string"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="IReportService_PostingProcessedListGet_InputMessage">
		<part name="parameters"
				element="tns:PostingProcessedListGet"/>
	</message>
	<message name="IReportService_PostingProcessedListGet_OutputMessage">
		<part name="parameters"
				element="tns:PostingProcessedListGetResponse"/>
	</message>
	<message name="IReportService_ReportGet_InputMessage">
		<part name="parameters"
				element="tns:ReportGet"/>
	</message>
	<message name="IReportService_ReportGet_OutputMessage">
		<part name="parameters"
				element="tns:ReportGetResponse"/>
	</message>
	<portType name="IReportService">
		<operation name="PostingProcessedListGet">
			<input name="PostingProcessedListGetRequest"
					message="tns:IReportService_PostingProcessedListGet_InputMessage"/>
			<output name="PostingProcessedListGetResponse"
					message="tns:IReportService_PostingProcessedListGet_OutputMessage"/>
		</operation>
		<operation name="ReportGet">
			<input name="ReportGetRequest"
					message="tns:IReportService_ReportGet_InputMessage"/>
			<output name="ReportGetResponse"
					message="tns:IReportService_ReportGet_OutputMessage"/>
		</operation>
	</portType>
	<binding name="BasicHttpBinding_IReportService"
			type="tns:IReportService">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="PostingProcessedListGet">
			<soapbind:operation style="document"
					soapAction="ozon/api/subagent/IReportService/PostingProcessedListGet"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="ReportGet">
			<soapbind:operation style="document"
					soapAction="ozon/api/subagent/IReportService/ReportGet"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="ReportService">
		<port name="BasicHttpBinding_IReportService"
				binding="tns:BasicHttpBinding_IReportService">
			<soapbind:address location="http://api.ocourier.ru/subagent/v2/ReportService.svc"/>
		</port>
	</service>
</definitions>