EDT/УТ/src/WSReferences/MM_Integration_new/2.xsd

<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/"
		xmlns:tns="http://schemas.datacontract.org/2004/07/MMS.Storage.DataModel"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		elementFormDefault="qualified"
		targetNamespace="http://schemas.datacontract.org/2004/07/MMS.Storage.DataModel">
	<xs:import schemaLocation="file://3.xsd"
			namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
	<xs:complexType name="ArrayOfDeliveryRequest">
		<xs:sequence>
			<xs:element minOccurs="0"
					maxOccurs="unbounded"
					name="DeliveryRequest"
					nillable="true"
					type="tns:DeliveryRequest"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfDeliveryRequest"
			nillable="true"
			type="tns:ArrayOfDeliveryRequest"/>
	<xs:complexType name="DeliveryRequest">
		<xs:sequence>
			<xs:element minOccurs="0"
					name="CODAmount"
					nillable="true"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="CarrierId"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="ConfirmationDate"
					nillable="true"
					type="xs:dateTime"/>
			<xs:element minOccurs="0"
					name="ContactInfo"
					nillable="true"
					type="tns:ContactInfo"/>
			<xs:element minOccurs="0"
					name="CustomStatus"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="CustomerOrderNumber"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="DeliveryType"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="Depth"
					nillable="true"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="ErrorCode"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="ErrorText"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="FreightPlaceType"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="Guid"
					type="ser:guid"/>
			<xs:element minOccurs="0"
					name="Height"
					nillable="true"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="HomeDelivery"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="IsCOD"
					nillable="true"
					type="xs:boolean"/>
			<xs:element minOccurs="0"
					name="Language"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="LoadType"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="PackingSlipID"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="ParcelQuantity"
					nillable="true"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="RequestedDeliveryDate"
					nillable="true"
					type="xs:dateTime"/>
			<xs:element minOccurs="0"
					name="RequestedDeliveryDateFrom"
					nillable="true"
					type="xs:dateTime"/>
			<xs:element minOccurs="0"
					name="RequestedDeliveryDateTo"
					nillable="true"
					type="xs:dateTime"/>
			<xs:element minOccurs="0"
					name="RequestedDeliveryTimeSlot"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="RequestedLoadingDateFrom"
					nillable="true"
					type="xs:dateTime"/>
			<xs:element minOccurs="0"
					name="RequestedLoadingDateTo"
					nillable="true"
					type="xs:dateTime"/>
			<xs:element minOccurs="0"
					name="ReturnToAddress"
					nillable="true"
					type="tns:Address"/>
			<xs:element minOccurs="0"
					name="SalesId"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="ShipFromAddress"
					nillable="true"
					type="tns:Address"/>
			<xs:element minOccurs="0"
					name="ShipFromCompany"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="ShipToAddress"
					nillable="true"
					type="tns:Address"/>
			<xs:element minOccurs="0"
					name="ShipToCompany"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="ShipmentDateTime"
					nillable="true"
					type="xs:dateTime"/>
			<xs:element minOccurs="0"
					name="Status"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="StatusHistoryItems"
					nillable="true"
					type="tns:ArrayOfStatusHistory"/>
			<xs:element minOccurs="0"
					name="Value"
					nillable="true"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="Volume"
					nillable="true"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="WWSOrderNumber"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="WaitingTime"
					nillable="true"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="WaybillNumber"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="Weight"
					nillable="true"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="Width"
					nillable="true"
					type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DeliveryRequest"
			nillable="true"
			type="tns:DeliveryRequest"/>
	<xs:complexType name="ContactInfo">
		<xs:sequence>
			<xs:element minOccurs="0"
					name="Additional"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="Email"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="Name"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="PName"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="Phone"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="Surname"
					nillable="true"
					type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ContactInfo"
			nillable="true"
			type="tns:ContactInfo"/>
	<xs:complexType name="Address">
		<xs:sequence>
			<xs:element minOccurs="0"
					name="Additional"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="AddressPlain"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="Apartment"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="Building1"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="Building2"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="Building3"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="City"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="CityAbbr"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="Country"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="District"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="Entrance"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="EntranceCode"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="Floor"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="HasServiceLift"
					nillable="true"
					type="xs:boolean"/>
			<xs:element minOccurs="0"
					name="Kladr"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="LocationId"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="Office"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="Property"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="RailwayStationName"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="Region"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="Street"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="StreetAbbr"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="SubwayStationName"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="ZipCode"
					nillable="true"
					type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Address"
			nillable="true"
			type="tns:Address"/>
	<xs:complexType name="ArrayOfStatusHistory">
		<xs:sequence>
			<xs:element minOccurs="0"
					maxOccurs="unbounded"
					name="StatusHistory"
					nillable="true"
					type="tns:StatusHistory"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfStatusHistory"
			nillable="true"
			type="tns:ArrayOfStatusHistory"/>
	<xs:complexType name="StatusHistory">
		<xs:sequence>
			<xs:element minOccurs="0"
					name="Comment"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="CustomStatus"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="Date"
					nillable="true"
					type="xs:dateTime"/>
			<xs:element minOccurs="0"
					name="Status"
					nillable="true"
					type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="StatusHistory"
			nillable="true"
			type="tns:StatusHistory"/>
</xs:schema>