EDT/УТ/src/WSReferences/FrontDelivery/WsDefinitions.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:ins1="strizh-logistic.ru/services"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="http://tempuri.org/"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="http://schemas.datacontract.org/2004/07/MainSales.WebUtility.objects.Authorization"
		xmlns:xsd10="strizh-logistic.ru/services/v2/sinc/RegionOrder"
		xmlns:xsd2="http://schemas.datacontract.org/2004/07/MainSales.WebUtility.objects.regionOrder"
		xmlns:xsd3="http://schemas.datacontract.org/2004/07/MainSales.WebUtility.objects.sinc"
		xmlns:xsd4="http://schemas.datacontract.org/2004/07/MainSales.WebUtility.objects.terminalOrder"
		xmlns:xsd5="http://schemas.microsoft.com/2003/10/Serialization/"
		xmlns:xsd6="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
		xmlns:xsd7="strizh-logistic.ru/contracts"
		xmlns:xsd8="strizh-logistic.ru/services"
		xmlns:xsd9="strizh-logistic.ru/services/Imports"
		name="Service1C"
		targetNamespace="http://tempuri.org/">
	<import namespace="strizh-logistic.ru/services"
			location="file://1.wsdl"/>
	<binding name="BasicHttpBinding_IService1C"
			type="ins1:IService1C">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="IsRegisterLoadedForOrder">
			<soapbind:operation style="document"
					soapAction="strizh-logistic.ru/services/IService1C/IsRegisterLoadedForOrder"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="SetStatusSC">
			<soapbind:operation style="document"
					soapAction="strizh-logistic.ru/services/IService1C/SetStatusSC"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="AddAcceptanceReportToIntake">
			<soapbind:operation style="document"
					soapAction="strizh-logistic.ru/services/IService1C/AddAcceptanceReportToIntake"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetIntakesToWH">
			<soapbind:operation style="document"
					soapAction="strizh-logistic.ru/services/IService1C/GetIntakesToWH"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="SetWHForIntake">
			<soapbind:operation style="document"
					soapAction="strizh-logistic.ru/services/IService1C/SetWHForIntake"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="UpdateWHSender">
			<soapbind:operation style="document"
					soapAction="strizh-logistic.ru/services/IService1C/UpdateWHSender"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetExtendedOrders">
			<soapbind:operation style="document"
					soapAction="strizh-logistic.ru/services/IService1C/GetExtendedOrders"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetModifiedTerminals">
			<soapbind:operation style="document"
					soapAction="strizh-logistic.ru/services/IService1C/GetModifiedTerminals"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="LoadPostingItems">
			<soapbind:operation style="document"
					soapAction="strizh-logistic.ru/services/IService1C/LoadPostingItems"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="LoadPostingItems_test">
			<soapbind:operation style="document"
					soapAction="strizh-logistic.ru/services/IService1C/LoadPostingItems_test"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetModifiedShops">
			<soapbind:operation style="document"
					soapAction="strizh-logistic.ru/services/IService1C/GetModifiedShops"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetOrdersForRegion">
			<soapbind:operation style="document"
					soapAction="strizh-logistic.ru/services/IService1C/GetOrdersForRegion"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetModifiedPickPoints">
			<soapbind:operation style="document"
					soapAction="strizh-logistic.ru/services/IService1C/GetModifiedPickPoints"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="AddressSuggest">
			<soapbind:operation style="document"
					soapAction="strizh-logistic.ru/services/IService1C/AddressSuggest"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="AddressSuggestStr">
			<soapbind:operation style="document"
					soapAction="strizh-logistic.ru/services/IService1C/AddressSuggestStr"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="Service1C">
		<port name="BasicHttpBinding_IService1C"
				binding="tns:BasicHttpBinding_IService1C">
			<soapbind:address location="http://192.168.5.9:82/services/Service1C.svc/soap"/>
		</port>
	</service>
</definitions>