EDT/УТ/src/WSReferences/MM_Integration_https/4.xsd

<xs:schema xmlns:ns1="http://schemas.datacontract.org/2004/07/MMS.Storage.DataModel"
		xmlns:tns="http://schemas.datacontract.org/2004/07/ZZT.DCIntegration.Managers"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		elementFormDefault="qualified"
		targetNamespace="http://schemas.datacontract.org/2004/07/ZZT.DCIntegration.Managers">
	<xs:import schemaLocation="file://2.xsd"
			namespace="http://schemas.datacontract.org/2004/07/MMS.Storage.DataModel"/>
	<xs:complexType name="ArrayOfDeliveryRequestWithOrderInfo">
		<xs:sequence>
			<xs:element minOccurs="0"
					maxOccurs="unbounded"
					name="DeliveryRequestWithOrderInfo"
					nillable="true"
					type="tns:DeliveryRequestWithOrderInfo"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfDeliveryRequestWithOrderInfo"
			nillable="true"
			type="tns:ArrayOfDeliveryRequestWithOrderInfo"/>
	<xs:complexType name="DeliveryRequestWithOrderInfo">
		<xs:sequence>
			<xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MMS.Storage.DataModel"
					minOccurs="0"
					name="DeliveryRequest"
					nillable="true"
					type="q1:DeliveryRequest"/>
			<xs:element minOccurs="0"
					name="OrderInfo"
					nillable="true"
					type="tns:OrderInfo"/>
			<xs:element minOccurs="0"
					name="OrderLines"
					nillable="true"
					type="tns:ArrayOfOrderLine"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DeliveryRequestWithOrderInfo"
			nillable="true"
			type="tns:DeliveryRequestWithOrderInfo"/>
	<xs:complexType name="OrderInfo">
		<xs:sequence>
			<xs:element minOccurs="0"
					name="IsCredit"
					type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OrderInfo"
			nillable="true"
			type="tns:OrderInfo"/>
	<xs:complexType name="ArrayOfOrderLine">
		<xs:sequence>
			<xs:element minOccurs="0"
					maxOccurs="unbounded"
					name="OrderLine"
					nillable="true"
					type="tns:OrderLine"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfOrderLine"
			nillable="true"
			type="tns:ArrayOfOrderLine"/>
	<xs:complexType name="OrderLine">
		<xs:sequence>
			<xs:element minOccurs="0"
					name="ArticleNo"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="ArticleTitle"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="Price"
					nillable="true"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="Quantity"
					type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OrderLine"
			nillable="true"
			type="tns:OrderLine"/>
</xs:schema>