EDT/УТ/src/WSReferences/DeliveryAxi_1c/1.xsd

<xs:schema xmlns:ns1="http://strizh.delivery"
		xmlns:tns="http://tempuri.org/"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		elementFormDefault="qualified"
		targetNamespace="http://tempuri.org/">
	<xs:import schemaLocation="file://2.xsd"
			namespace="http://strizh.delivery"/>
	<xs:element name="SetStatus">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
						name="okey"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="status"
						type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetStatusResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q1="http://strizh.delivery"
						minOccurs="0"
						name="SetStatusResult"
						nillable="true"
						type="q1:responseSetStatus"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetOrderForms">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q2="http://strizh.delivery"
						minOccurs="0"
						name="okeys"
						nillable="true"
						type="q2:arrayOfOkeys"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetOrderFormsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q3="http://strizh.delivery"
						minOccurs="0"
						name="GetOrderFormsResult"
						nillable="true"
						type="q3:responseGetOrderForms"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetOrderOkey">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
						name="orderId"
						type="xs:int"/>
				<xs:element minOccurs="0"
						name="okey"
						nillable="true"
						type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetOrderOkeyResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q4="http://strizh.delivery"
						minOccurs="0"
						name="SetOrderOkeyResult"
						nillable="true"
						type="q4:responseSetOrderOkey"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LoadReturnList">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
						name="orderId"
						type="xs:int"/>
				<xs:element xmlns:q5="http://strizh.delivery"
						minOccurs="0"
						name="returnList"
						nillable="true"
						type="q5:arrayOfReturnOrders"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LoadReturnListResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q6="http://strizh.delivery"
						minOccurs="0"
						name="LoadReturnListResult"
						nillable="true"
						type="q6:responseLoadReturnList"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>