EDT/УТ/src/WSReferences/StrizhDownloadOrders/WsDefinitions.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="http://tempuri.org/"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="http://tempuri.org/"
		targetNamespace="http://tempuri.org/">
	<types>
		<s:schema xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
				xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
				xmlns:s="http://www.w3.org/2001/XMLSchema"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
				xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
				xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
				xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				elementFormDefault="qualified"
				targetNamespace="http://tempuri.org/">
			<s:element name="GetItemStocks">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="codes"
								type="xsd1:ArrayOfString"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Auth"
								type="xsd1:Authentication"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfString">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="unbounded"
							name="string"
							nillable="true"
							type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="Authentication">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="Login"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="Password"
							type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:element name="GetItemStocksResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="GetItemStocksResult"
								type="xsd1:ArrayOfItemStock"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfItemStock">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="unbounded"
							name="ItemStock"
							nillable="true"
							type="xsd1:ItemStock"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ItemStock">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="Code"
							type="s:string"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="Price"
							type="s:double"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="IsActive"
							type="s:boolean"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="Stocks"
							type="xsd1:ArrayOfStock"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfStock">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="unbounded"
							name="Stock"
							nillable="true"
							type="xsd1:Stock"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="Stock">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="Name"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="Count"
							type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:element name="GetNewItems">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="FromDate"
								type="s:dateTime"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Auth"
								type="xsd1:Authentication"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetNewItemsResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="GetNewItemsResult"
								type="xsd1:ArrayOfItem"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfItem">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="unbounded"
							name="Item"
							nillable="true"
							type="xsd1:Item"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="Item">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="Code"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="Name"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="Brand"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="Description"
							type="s:string"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="Category"
							type="s:int"/>
				</s:sequence>
			</s:complexType>
			<s:element name="GetInternetShopID">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="name"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Auth"
								type="xsd1:Authentication"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetInternetShopIDResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="GetInternetShopIDResult"
								type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetShopsID">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Auth"
								type="xsd1:Authentication"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetShopsIDResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="GetShopsIDResult"
								type="xsd1:ArrayOfShop"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfShop">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="unbounded"
							name="Shop"
							type="xsd1:Shop"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="Shop">
				<s:sequence>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="shopID"
							type="s:int"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="name"
							type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:element name="GetOrder">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="orderID"
								type="s:int"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Auth"
								type="xsd1:Authentication"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetOrderResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="GetOrderResult"
								type="xsd1:ExpOrder"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ExpOrder">
				<s:sequence>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="OrderID"
							type="s:int"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="UserID"
							type="s:int"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="FIO"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="Phone"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="DeliveryAddress"
							type="s:string"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="OrderStatusID"
							type="s:int"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="OrderStatus"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="ReasonRrefusal"
							type="s:string"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="PayTypeID"
							type="s:int"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="PayType"
							type="s:string"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="ShopUrNameID"
							type="s:int"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="ShopUrName"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="ServiceDC"
							type="xsd1:Money"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="IsRefusalWithDelivery"
							type="s:boolean"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="CashService"
							type="xsd1:Money"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="DateDelivery"
							type="s:dateTime"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="TimeDeliveryFrom"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="TimeDeliveryTo"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="DeliveryRur"
							type="xsd1:Money"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="DeliveryMKAD"
							type="xsd1:Money"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="Comment"
							type="s:string"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="CompleteDate"
							type="s:dateTime"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="SelfDelivery"
							type="s:int"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="TypeDelivery"
							type="s:int"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="IsPayed"
							type="s:int"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="Items"
							type="xsd1:ArrayOfExpOrderItem"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="Error"
							type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="Money">
				<s:sequence>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="Value"
							type="s:double"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfExpOrderItem">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="unbounded"
							name="ExpOrderItem"
							type="xsd1:ExpOrderItem"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ExpOrderItem">
				<s:sequence>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="ID"
							type="s:int"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="code"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="ProductName"
							type="s:string"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="Count"
							type="s:int"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="Price"
							type="s:double"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="eid"
							type="s:int"/>
				</s:sequence>
			</s:complexType>
			<s:element name="GetSdOrderID">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="orderImportID"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Auth"
								type="xsd1:Authentication"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="shopID"
								type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetSdOrderIDResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="GetSdOrderIDResult"
								type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="RegisterUser">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="user"
								type="xsd1:ImpUser"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Auth"
								type="xsd1:Authentication"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ImpUser">
				<s:sequence>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="userID"
							type="s:int"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="email"
							type="s:string"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="createDate"
							type="s:dateTime"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="modifyDate"
							type="s:dateTime"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="userTel"
							type="s:string"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="internetShopID"
							type="s:int"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="cardNo"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="jurPerson"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="jurAddress"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="INN"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="KPP"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="OKPO"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="RS"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="KS"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="userHomePhone"
							type="s:string"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="AddNewAddress"
							type="s:boolean"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="UserAddresses"
							type="xsd1:ArrayOfImpUserAddress"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="FIO"
							type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfImpUserAddress">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="unbounded"
							name="ImpUserAddress"
							type="xsd1:ImpUserAddress"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ImpUserAddress">
				<s:sequence>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="id"
							type="s:int"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="location"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="city"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="area"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="metro"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="street"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="house"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="userCase"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="apartment"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="building"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="entrance"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="intercom"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="floor"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="FullAddress"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="comment"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="distanceFromMKAD"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="zipCode"
							type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:element name="RegisterUserResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="RegisterUserResult"
								type="xsd1:ArrayOfInt"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfInt">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="unbounded"
							name="int"
							type="s:int"/>
				</s:sequence>
			</s:complexType>
			<s:element name="RegisterOrder">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="order"
								type="xsd1:ImpOrder"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Auth"
								type="xsd1:Authentication"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ImpOrder">
				<s:sequence>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="orderID"
							type="s:int"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="userID"
							type="s:int"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="completeDate"
							type="s:dateTime"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="deliveryDate"
							type="s:dateTime"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="IsRefusalWithDelivery"
							type="s:boolean"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="deliveryPriceRUR"
							type="xsd1:Money"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="status"
							type="s:int"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="comment"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="MobilePhone"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="timeDeliveryFrom"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="timeDeliveryTo"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="whoLastChange"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="deliveryForMkadRUR"
							type="xsd1:Money"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="orderRBSStateID"
							type="s:int"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="paytype"
							type="s:int"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="modifyDate"
							type="s:dateTime"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="PAN"
							type="s:string"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="SumByCard"
							type="s:int"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="typeDelivery"
							type="s:int"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="ServiceDelivery"
							nillable="true"
							type="s:int"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="PiecesOfFreight"
							nillable="true"
							type="s:int"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="userAddressID"
							type="s:int"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="SettingID"
							type="s:int"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="orderIDImport"
							type="s:string"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="selfDelivery"
							type="s:int"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="manager"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="serviceDC"
							type="xsd1:Money"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="IsPayed"
							type="s:int"/>
				</s:sequence>
			</s:complexType>
			<s:element name="RegisterOrderResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="RegisterOrderResult"
								type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetStatusOrders">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="orderId"
								type="xsd1:ArrayOfInt"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Auth"
								type="xsd1:Authentication"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetStatusOrdersResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="GetStatusOrdersResult"
								type="xsd1:ArrayOfInt"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetStatusOrder">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="orderId"
								type="s:int"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Auth"
								type="xsd1:Authentication"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetStatusOrderResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="GetStatusOrderResult"
								type="xsd1:OrderStatus"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="OrderStatus">
				<s:sequence>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="status"
							type="s:int"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="ReasonRrefusal"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="CarNumber"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="DriverPhone"
							type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:element name="GetStatusSdOrderID">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="orderId"
								type="s:int"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Auth"
								type="xsd1:Authentication"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetStatusSdOrderIDResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="GetStatusSdOrderIDResult"
								type="xsd1:OrderStatus"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetStatusOrderByImportedID">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="orderId"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Auth"
								type="xsd1:Authentication"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetStatusOrderByImportedIDResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="GetStatusOrderByImportedIDResult"
								type="xsd1:OrderStatus"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="AddItemsToOrder">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="orderitems"
								type="xsd1:ArrayOfOrderItem"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="orderID"
								type="s:int"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Auth"
								type="xsd1:Authentication"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfOrderItem">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="unbounded"
							name="OrderItem"
							type="xsd1:OrderItem"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="OrderItem">
				<s:sequence>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="Id"
							type="s:int"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="Name"
							type="s:string"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="Count"
							type="s:int"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="Price"
							type="s:double"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="PriceZak"
							type="s:double"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="orderID"
							type="s:int"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="sku"
							type="s:string"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="dimension"
							type="s:double"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="mass"
							type="s:double"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="code"
							type="s:string"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="categoryId"
							type="s:int"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="rootCategoryId"
							type="s:int"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="deliveryTypeId"
							type="s:int"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="rateVAT"
							nillable="true"
							type="s:double"/>
				</s:sequence>
			</s:complexType>
			<s:element name="AddItemsToOrderResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="AddItemsToOrderResult"
								type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetNewOrders">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Auth"
								type="xsd1:Authentication"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetNewOrdersResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="GetNewOrdersResult"
								type="xsd1:ArrayOfOrderChanged"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfOrderChanged">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="unbounded"
							name="OrderChanged"
							type="xsd1:OrderChanged"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="OrderChanged">
				<s:sequence>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="orderID"
							type="s:int"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="ReasonRrefusal"
							type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:element name="UpdateDeliveOrderId">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="orderId"
								type="s:int"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="OuterDeliveId"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Auth"
								type="xsd1:Authentication"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="UpdateDeliveOrderIdResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="UpdateDeliveOrderIdResult"
								type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SetOrderParams">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="orderId"
								type="s:int"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="orderWeight"
								type="s:string"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="PiecesOfFreight"
								type="s:int"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Auth"
								type="xsd1:Authentication"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SetOrderParamsResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="SetOrderParamsResult"
								type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="RefuseOrder">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="orderID"
								type="s:int"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Auth"
								type="xsd1:Authentication"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="RefuseOrderResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="RefuseOrderResult"
								type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetOrderStatusByStrizhOrderID">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="orderId"
								type="s:int"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Auth"
								type="xsd1:Authentication"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetOrderStatusByStrizhOrderIDResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="GetOrderStatusByStrizhOrderIDResult"
								type="xsd1:OrderStatusForShop"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="OrderStatusForShop">
				<s:sequence>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="statusID"
							type="s:int"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="statusName"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="statusENGName"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="ReasonRrefusal"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="CarNumber"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="DriverPhone"
							type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:element name="GetOrderStatusFByStrizhOrderID">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="orderId"
								type="s:int"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Auth"
								type="xsd1:Authentication"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetOrderStatusFByStrizhOrderIDResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="GetOrderStatusFByStrizhOrderIDResult"
								type="xsd1:OrderStatusForShopF"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="OrderStatusForShopF">
				<s:sequence>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="statusID"
							type="s:int"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="statusName"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="statusENGName"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="ReasonRrefusal"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="CarNumber"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="DriverPhone"
							type="s:string"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="finalStatusID"
							type="s:int"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="finalStatusName"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="finalStatusENGName"
							type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:element name="GetOrderInf">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="orderId"
								type="s:int"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Auth"
								type="xsd1:Authentication"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetOrderInfResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="GetOrderInfResult"
								type="xsd1:OrderInform"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="OrderInform">
				<s:sequence>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="statusID"
							type="s:int"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="statusName"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="statusENGName"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="ReasonRrefusal"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="CarNumber"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="DriverPhone"
							type="s:string"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="finalStatusID"
							type="s:int"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="finalStatusName"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="finalStatusENGName"
							type="s:string"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="deliveryDate"
							nillable="true"
							type="s:dateTime"/>
				</s:sequence>
			</s:complexType>
			<s:element name="RegisterInternetShop">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="shopName"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="shopTitle"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="shopJurFace"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="shopPhone"
								type="s:string"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="sorting"
								nillable="true"
								type="s:int"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="textReceipt"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="receiverID"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Auth"
								type="xsd1:Authentication"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="RegisterInternetShopResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="RegisterInternetShopResult"
								type="xsd1:addedShop"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="addedShop">
				<s:sequence>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="internetShopID"
							type="s:int"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="settingID"
							type="s:int"/>
				</s:sequence>
			</s:complexType>
			<s:element name="AddLogo">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="internetShopID"
								type="s:int"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="logo"
								type="s:string"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="logoType"
								type="s:int"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Auth"
								type="xsd1:Authentication"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="AddLogoResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="AddLogoResult"
								type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ConfirmOrderPackaging">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="orderID"
								type="s:int"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Auth"
								type="xsd1:Authentication"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ConfirmOrderPackagingResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="ConfirmOrderPackagingResult"
								type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="RegisterChildInternetShop">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="shopName"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="shopTitle"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="shopJurFace"
								type="s:string"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="shopPhone"
								type="s:string"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="sorting"
								nillable="true"
								type="s:int"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="textReceipt"
								type="s:string"/>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="parentID"
								type="s:int"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Auth"
								type="xsd1:Authentication"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="RegisterChildInternetShopResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="RegisterChildInternetShopResult"
								type="xsd1:addedShop"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="AddAcceptanceReport">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="report"
								type="xsd1:AcceptanceReport"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Auth"
								type="xsd1:Authentication"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="AcceptanceReport">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="reportIDImport"
							type="s:string"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="date"
							type="s:dateTime"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="ordersTable"
							type="xsd1:ArrayOfOrdersTableRow"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfOrdersTableRow">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="unbounded"
							name="ordersTableRow"
							nillable="true"
							type="xsd1:ordersTableRow"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ordersTableRow">
				<s:sequence>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="orderID"
							type="s:int"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="orderIDImport"
							type="s:string"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="places"
							type="s:int"/>
				</s:sequence>
			</s:complexType>
			<s:element name="AddAcceptanceReportResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="AddAcceptanceReportResult"
								type="xsd1:AddAcceptanceReportResponse"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="AddAcceptanceReportResponse">
				<s:sequence>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="isError"
							nillable="true"
							type="s:boolean"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="error"
							type="s:string"/>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="reportID"
							type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:element name="GetServicesCost">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1"
								maxOccurs="1"
								name="orderId"
								type="s:int"/>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Auth"
								type="xsd1:Authentication"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetServicesCostResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="GetServicesCostResult"
								type="xsd1:ArrayOfServiceCost"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfServiceCost">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="unbounded"
							name="ServiceCost"
							nillable="true"
							type="xsd1:ServiceCost"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ServiceCost">
				<s:sequence>
					<s:element minOccurs="0"
							maxOccurs="1"
							name="key"
							type="s:string"/>
					<s:element minOccurs="1"
							maxOccurs="1"
							name="value"
							type="s:double"/>
				</s:sequence>
			</s:complexType>
		</s:schema>
	</types>
	<message name="GetItemStocksSoapIn">
		<part name="parameters"
				element="tns:GetItemStocks"/>
	</message>
	<message name="GetItemStocksSoapOut">
		<part name="parameters"
				element="tns:GetItemStocksResponse"/>
	</message>
	<message name="GetNewItemsSoapIn">
		<part name="parameters"
				element="tns:GetNewItems"/>
	</message>
	<message name="GetNewItemsSoapOut">
		<part name="parameters"
				element="tns:GetNewItemsResponse"/>
	</message>
	<message name="GetInternetShopIDSoapIn">
		<part name="parameters"
				element="tns:GetInternetShopID"/>
	</message>
	<message name="GetInternetShopIDSoapOut">
		<part name="parameters"
				element="tns:GetInternetShopIDResponse"/>
	</message>
	<message name="GetShopsIDSoapIn">
		<part name="parameters"
				element="tns:GetShopsID"/>
	</message>
	<message name="GetShopsIDSoapOut">
		<part name="parameters"
				element="tns:GetShopsIDResponse"/>
	</message>
	<message name="GetOrderSoapIn">
		<part name="parameters"
				element="tns:GetOrder"/>
	</message>
	<message name="GetOrderSoapOut">
		<part name="parameters"
				element="tns:GetOrderResponse"/>
	</message>
	<message name="GetSdOrderIDSoapIn">
		<part name="parameters"
				element="tns:GetSdOrderID"/>
	</message>
	<message name="GetSdOrderIDSoapOut">
		<part name="parameters"
				element="tns:GetSdOrderIDResponse"/>
	</message>
	<message name="RegisterUserSoapIn">
		<part name="parameters"
				element="tns:RegisterUser"/>
	</message>
	<message name="RegisterUserSoapOut">
		<part name="parameters"
				element="tns:RegisterUserResponse"/>
	</message>
	<message name="RegisterOrderSoapIn">
		<part name="parameters"
				element="tns:RegisterOrder"/>
	</message>
	<message name="RegisterOrderSoapOut">
		<part name="parameters"
				element="tns:RegisterOrderResponse"/>
	</message>
	<message name="GetStatusOrdersSoapIn">
		<part name="parameters"
				element="tns:GetStatusOrders"/>
	</message>
	<message name="GetStatusOrdersSoapOut">
		<part name="parameters"
				element="tns:GetStatusOrdersResponse"/>
	</message>
	<message name="GetStatusOrderSoapIn">
		<part name="parameters"
				element="tns:GetStatusOrder"/>
	</message>
	<message name="GetStatusOrderSoapOut">
		<part name="parameters"
				element="tns:GetStatusOrderResponse"/>
	</message>
	<message name="GetStatusSdOrderIDSoapIn">
		<part name="parameters"
				element="tns:GetStatusSdOrderID"/>
	</message>
	<message name="GetStatusSdOrderIDSoapOut">
		<part name="parameters"
				element="tns:GetStatusSdOrderIDResponse"/>
	</message>
	<message name="GetStatusOrderByImportedIDSoapIn">
		<part name="parameters"
				element="tns:GetStatusOrderByImportedID"/>
	</message>
	<message name="GetStatusOrderByImportedIDSoapOut">
		<part name="parameters"
				element="tns:GetStatusOrderByImportedIDResponse"/>
	</message>
	<message name="AddItemsToOrderSoapIn">
		<part name="parameters"
				element="tns:AddItemsToOrder"/>
	</message>
	<message name="AddItemsToOrderSoapOut">
		<part name="parameters"
				element="tns:AddItemsToOrderResponse"/>
	</message>
	<message name="GetNewOrdersSoapIn">
		<part name="parameters"
				element="tns:GetNewOrders"/>
	</message>
	<message name="GetNewOrdersSoapOut">
		<part name="parameters"
				element="tns:GetNewOrdersResponse"/>
	</message>
	<message name="UpdateDeliveOrderIdSoapIn">
		<part name="parameters"
				element="tns:UpdateDeliveOrderId"/>
	</message>
	<message name="UpdateDeliveOrderIdSoapOut">
		<part name="parameters"
				element="tns:UpdateDeliveOrderIdResponse"/>
	</message>
	<message name="SetOrderParamsSoapIn">
		<part name="parameters"
				element="tns:SetOrderParams"/>
	</message>
	<message name="SetOrderParamsSoapOut">
		<part name="parameters"
				element="tns:SetOrderParamsResponse"/>
	</message>
	<message name="RefuseOrderSoapIn">
		<part name="parameters"
				element="tns:RefuseOrder"/>
	</message>
	<message name="RefuseOrderSoapOut">
		<part name="parameters"
				element="tns:RefuseOrderResponse"/>
	</message>
	<message name="GetOrderStatusByStrizhOrderIDSoapIn">
		<part name="parameters"
				element="tns:GetOrderStatusByStrizhOrderID"/>
	</message>
	<message name="GetOrderStatusByStrizhOrderIDSoapOut">
		<part name="parameters"
				element="tns:GetOrderStatusByStrizhOrderIDResponse"/>
	</message>
	<message name="GetOrderStatusFByStrizhOrderIDSoapIn">
		<part name="parameters"
				element="tns:GetOrderStatusFByStrizhOrderID"/>
	</message>
	<message name="GetOrderStatusFByStrizhOrderIDSoapOut">
		<part name="parameters"
				element="tns:GetOrderStatusFByStrizhOrderIDResponse"/>
	</message>
	<message name="GetOrderInfSoapIn">
		<part name="parameters"
				element="tns:GetOrderInf"/>
	</message>
	<message name="GetOrderInfSoapOut">
		<part name="parameters"
				element="tns:GetOrderInfResponse"/>
	</message>
	<message name="RegisterInternetShopSoapIn">
		<part name="parameters"
				element="tns:RegisterInternetShop"/>
	</message>
	<message name="RegisterInternetShopSoapOut">
		<part name="parameters"
				element="tns:RegisterInternetShopResponse"/>
	</message>
	<message name="AddLogoSoapIn">
		<part name="parameters"
				element="tns:AddLogo"/>
	</message>
	<message name="AddLogoSoapOut">
		<part name="parameters"
				element="tns:AddLogoResponse"/>
	</message>
	<message name="ConfirmOrderPackagingSoapIn">
		<part name="parameters"
				element="tns:ConfirmOrderPackaging"/>
	</message>
	<message name="ConfirmOrderPackagingSoapOut">
		<part name="parameters"
				element="tns:ConfirmOrderPackagingResponse"/>
	</message>
	<message name="RegisterChildInternetShopSoapIn">
		<part name="parameters"
				element="tns:RegisterChildInternetShop"/>
	</message>
	<message name="RegisterChildInternetShopSoapOut">
		<part name="parameters"
				element="tns:RegisterChildInternetShopResponse"/>
	</message>
	<message name="AddAcceptanceReportSoapIn">
		<part name="parameters"
				element="tns:AddAcceptanceReport"/>
	</message>
	<message name="AddAcceptanceReportSoapOut">
		<part name="parameters"
				element="tns:AddAcceptanceReportResponse"/>
	</message>
	<message name="GetServicesCostSoapIn">
		<part name="parameters"
				element="tns:GetServicesCost"/>
	</message>
	<message name="GetServicesCostSoapOut">
		<part name="parameters"
				element="tns:GetServicesCostResponse"/>
	</message>
	<portType name="SincSoap">
		<operation name="GetItemStocks">
			<input name="GetItemStocksRequest"
					message="tns:GetItemStocksSoapIn"/>
			<output name="GetItemStocksResponse"
					message="tns:GetItemStocksSoapOut"/>
		</operation>
		<operation name="GetNewItems">
			<input name="GetNewItemsRequest"
					message="tns:GetNewItemsSoapIn"/>
			<output name="GetNewItemsResponse"
					message="tns:GetNewItemsSoapOut"/>
		</operation>
		<operation name="GetInternetShopID">
			<input name="GetInternetShopIDRequest"
					message="tns:GetInternetShopIDSoapIn"/>
			<output name="GetInternetShopIDResponse"
					message="tns:GetInternetShopIDSoapOut"/>
		</operation>
		<operation name="GetShopsID">
			<input name="GetShopsIDRequest"
					message="tns:GetShopsIDSoapIn"/>
			<output name="GetShopsIDResponse"
					message="tns:GetShopsIDSoapOut"/>
		</operation>
		<operation name="GetOrder">
			<input name="GetOrderRequest"
					message="tns:GetOrderSoapIn"/>
			<output name="GetOrderResponse"
					message="tns:GetOrderSoapOut"/>
		</operation>
		<operation name="GetSdOrderID">
			<input name="GetSdOrderIDRequest"
					message="tns:GetSdOrderIDSoapIn"/>
			<output name="GetSdOrderIDResponse"
					message="tns:GetSdOrderIDSoapOut"/>
		</operation>
		<operation name="RegisterUser">
			<input name="RegisterUserRequest"
					message="tns:RegisterUserSoapIn"/>
			<output name="RegisterUserResponse"
					message="tns:RegisterUserSoapOut"/>
		</operation>
		<operation name="RegisterOrder">
			<input name="RegisterOrderRequest"
					message="tns:RegisterOrderSoapIn"/>
			<output name="RegisterOrderResponse"
					message="tns:RegisterOrderSoapOut"/>
		</operation>
		<operation name="GetStatusOrders">
			<input name="GetStatusOrdersRequest"
					message="tns:GetStatusOrdersSoapIn"/>
			<output name="GetStatusOrdersResponse"
					message="tns:GetStatusOrdersSoapOut"/>
		</operation>
		<operation name="GetStatusOrder">
			<input name="GetStatusOrderRequest"
					message="tns:GetStatusOrderSoapIn"/>
			<output name="GetStatusOrderResponse"
					message="tns:GetStatusOrderSoapOut"/>
		</operation>
		<operation name="GetStatusSdOrderID">
			<input name="GetStatusSdOrderIDRequest"
					message="tns:GetStatusSdOrderIDSoapIn"/>
			<output name="GetStatusSdOrderIDResponse"
					message="tns:GetStatusSdOrderIDSoapOut"/>
		</operation>
		<operation name="GetStatusOrderByImportedID">
			<input name="GetStatusOrderByImportedIDRequest"
					message="tns:GetStatusOrderByImportedIDSoapIn"/>
			<output name="GetStatusOrderByImportedIDResponse"
					message="tns:GetStatusOrderByImportedIDSoapOut"/>
		</operation>
		<operation name="AddItemsToOrder">
			<input name="AddItemsToOrderRequest"
					message="tns:AddItemsToOrderSoapIn"/>
			<output name="AddItemsToOrderResponse"
					message="tns:AddItemsToOrderSoapOut"/>
		</operation>
		<operation name="GetNewOrders">
			<input name="GetNewOrdersRequest"
					message="tns:GetNewOrdersSoapIn"/>
			<output name="GetNewOrdersResponse"
					message="tns:GetNewOrdersSoapOut"/>
		</operation>
		<operation name="UpdateDeliveOrderId">
			<input name="UpdateDeliveOrderIdRequest"
					message="tns:UpdateDeliveOrderIdSoapIn"/>
			<output name="UpdateDeliveOrderIdResponse"
					message="tns:UpdateDeliveOrderIdSoapOut"/>
		</operation>
		<operation name="SetOrderParams">
			<input name="SetOrderParamsRequest"
					message="tns:SetOrderParamsSoapIn"/>
			<output name="SetOrderParamsResponse"
					message="tns:SetOrderParamsSoapOut"/>
		</operation>
		<operation name="RefuseOrder">
			<input name="RefuseOrderRequest"
					message="tns:RefuseOrderSoapIn"/>
			<output name="RefuseOrderResponse"
					message="tns:RefuseOrderSoapOut"/>
		</operation>
		<operation name="GetOrderStatusByStrizhOrderID">
			<input name="GetOrderStatusByStrizhOrderIDRequest"
					message="tns:GetOrderStatusByStrizhOrderIDSoapIn"/>
			<output name="GetOrderStatusByStrizhOrderIDResponse"
					message="tns:GetOrderStatusByStrizhOrderIDSoapOut"/>
		</operation>
		<operation name="GetOrderStatusFByStrizhOrderID">
			<input name="GetOrderStatusFByStrizhOrderIDRequest"
					message="tns:GetOrderStatusFByStrizhOrderIDSoapIn"/>
			<output name="GetOrderStatusFByStrizhOrderIDResponse"
					message="tns:GetOrderStatusFByStrizhOrderIDSoapOut"/>
		</operation>
		<operation name="GetOrderInf">
			<input name="GetOrderInfRequest"
					message="tns:GetOrderInfSoapIn"/>
			<output name="GetOrderInfResponse"
					message="tns:GetOrderInfSoapOut"/>
		</operation>
		<operation name="RegisterInternetShop">
			<input name="RegisterInternetShopRequest"
					message="tns:RegisterInternetShopSoapIn"/>
			<output name="RegisterInternetShopResponse"
					message="tns:RegisterInternetShopSoapOut"/>
		</operation>
		<operation name="AddLogo">
			<input name="AddLogoRequest"
					message="tns:AddLogoSoapIn"/>
			<output name="AddLogoResponse"
					message="tns:AddLogoSoapOut"/>
		</operation>
		<operation name="ConfirmOrderPackaging">
			<input name="ConfirmOrderPackagingRequest"
					message="tns:ConfirmOrderPackagingSoapIn"/>
			<output name="ConfirmOrderPackagingResponse"
					message="tns:ConfirmOrderPackagingSoapOut"/>
		</operation>
		<operation name="RegisterChildInternetShop">
			<input name="RegisterChildInternetShopRequest"
					message="tns:RegisterChildInternetShopSoapIn"/>
			<output name="RegisterChildInternetShopResponse"
					message="tns:RegisterChildInternetShopSoapOut"/>
		</operation>
		<operation name="AddAcceptanceReport">
			<input name="AddAcceptanceReportRequest"
					message="tns:AddAcceptanceReportSoapIn"/>
			<output name="AddAcceptanceReportResponse"
					message="tns:AddAcceptanceReportSoapOut"/>
		</operation>
		<operation name="GetServicesCost">
			<input name="GetServicesCostRequest"
					message="tns:GetServicesCostSoapIn"/>
			<output name="GetServicesCostResponse"
					message="tns:GetServicesCostSoapOut"/>
		</operation>
	</portType>
	<binding name="SincSoap"
			type="tns:SincSoap">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetItemStocks">
			<soapbind:operation style="document"
					soapAction="http://tempuri.org/GetItemStocks"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetNewItems">
			<soapbind:operation style="document"
					soapAction="http://tempuri.org/GetNewItems"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetInternetShopID">
			<soapbind:operation style="document"
					soapAction="http://tempuri.org/GetInternetShopID"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetShopsID">
			<soapbind:operation style="document"
					soapAction="http://tempuri.org/GetShopsID"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetOrder">
			<soapbind:operation style="document"
					soapAction="http://tempuri.org/GetOrder"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetSdOrderID">
			<soapbind:operation style="document"
					soapAction="http://tempuri.org/GetSdOrderID"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="RegisterUser">
			<soapbind:operation style="document"
					soapAction="http://tempuri.org/RegisterUser"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="RegisterOrder">
			<soapbind:operation style="document"
					soapAction="http://tempuri.org/RegisterOrder"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetStatusOrders">
			<soapbind:operation style="document"
					soapAction="http://tempuri.org/GetStatusOrders"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetStatusOrder">
			<soapbind:operation style="document"
					soapAction="http://tempuri.org/GetStatusOrder"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetStatusSdOrderID">
			<soapbind:operation style="document"
					soapAction="http://tempuri.org/GetStatusSdOrderID"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetStatusOrderByImportedID">
			<soapbind:operation style="document"
					soapAction="http://tempuri.org/GetStatusOrderByImportedID"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="AddItemsToOrder">
			<soapbind:operation style="document"
					soapAction="http://tempuri.org/AddItemsToOrder"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetNewOrders">
			<soapbind:operation style="document"
					soapAction="http://tempuri.org/GetNewOrders"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="UpdateDeliveOrderId">
			<soapbind:operation style="document"
					soapAction="http://tempuri.org/UpdateDeliveOrderId"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="SetOrderParams">
			<soapbind:operation style="document"
					soapAction="http://tempuri.org/SetOrderParams"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="RefuseOrder">
			<soapbind:operation style="document"
					soapAction="http://tempuri.org/RefuseOrder"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetOrderStatusByStrizhOrderID">
			<soapbind:operation style="document"
					soapAction="http://tempuri.org/GetOrderStatusByStrizhOrderID"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetOrderStatusFByStrizhOrderID">
			<soapbind:operation style="document"
					soapAction="http://tempuri.org/GetOrderStatusFByStrizhOrderID"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetOrderInf">
			<soapbind:operation style="document"
					soapAction="http://tempuri.org/GetOrderInf"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="RegisterInternetShop">
			<soapbind:operation style="document"
					soapAction="http://tempuri.org/RegisterInternetShop"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="AddLogo">
			<soapbind:operation style="document"
					soapAction="http://tempuri.org/AddLogo"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="ConfirmOrderPackaging">
			<soapbind:operation style="document"
					soapAction="http://tempuri.org/ConfirmOrderPackaging"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="RegisterChildInternetShop">
			<soapbind:operation style="document"
					soapAction="http://tempuri.org/RegisterChildInternetShop"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="AddAcceptanceReport">
			<soapbind:operation style="document"
					soapAction="http://tempuri.org/AddAcceptanceReport"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetServicesCost">
			<soapbind:operation style="document"
					soapAction="http://tempuri.org/GetServicesCost"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="SincSoap12"
			type="tns:SincSoap">
		<soap12bind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetItemStocks">
			<soap12bind:operation style="document"
					soapAction="http://tempuri.org/GetItemStocks"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetNewItems">
			<soap12bind:operation style="document"
					soapAction="http://tempuri.org/GetNewItems"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetInternetShopID">
			<soap12bind:operation style="document"
					soapAction="http://tempuri.org/GetInternetShopID"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetShopsID">
			<soap12bind:operation style="document"
					soapAction="http://tempuri.org/GetShopsID"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetOrder">
			<soap12bind:operation style="document"
					soapAction="http://tempuri.org/GetOrder"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetSdOrderID">
			<soap12bind:operation style="document"
					soapAction="http://tempuri.org/GetSdOrderID"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="RegisterUser">
			<soap12bind:operation style="document"
					soapAction="http://tempuri.org/RegisterUser"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="RegisterOrder">
			<soap12bind:operation style="document"
					soapAction="http://tempuri.org/RegisterOrder"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetStatusOrders">
			<soap12bind:operation style="document"
					soapAction="http://tempuri.org/GetStatusOrders"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetStatusOrder">
			<soap12bind:operation style="document"
					soapAction="http://tempuri.org/GetStatusOrder"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetStatusSdOrderID">
			<soap12bind:operation style="document"
					soapAction="http://tempuri.org/GetStatusSdOrderID"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetStatusOrderByImportedID">
			<soap12bind:operation style="document"
					soapAction="http://tempuri.org/GetStatusOrderByImportedID"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="AddItemsToOrder">
			<soap12bind:operation style="document"
					soapAction="http://tempuri.org/AddItemsToOrder"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetNewOrders">
			<soap12bind:operation style="document"
					soapAction="http://tempuri.org/GetNewOrders"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="UpdateDeliveOrderId">
			<soap12bind:operation style="document"
					soapAction="http://tempuri.org/UpdateDeliveOrderId"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="SetOrderParams">
			<soap12bind:operation style="document"
					soapAction="http://tempuri.org/SetOrderParams"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="RefuseOrder">
			<soap12bind:operation style="document"
					soapAction="http://tempuri.org/RefuseOrder"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetOrderStatusByStrizhOrderID">
			<soap12bind:operation style="document"
					soapAction="http://tempuri.org/GetOrderStatusByStrizhOrderID"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetOrderStatusFByStrizhOrderID">
			<soap12bind:operation style="document"
					soapAction="http://tempuri.org/GetOrderStatusFByStrizhOrderID"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetOrderInf">
			<soap12bind:operation style="document"
					soapAction="http://tempuri.org/GetOrderInf"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="RegisterInternetShop">
			<soap12bind:operation style="document"
					soapAction="http://tempuri.org/RegisterInternetShop"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="AddLogo">
			<soap12bind:operation style="document"
					soapAction="http://tempuri.org/AddLogo"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="ConfirmOrderPackaging">
			<soap12bind:operation style="document"
					soapAction="http://tempuri.org/ConfirmOrderPackaging"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="RegisterChildInternetShop">
			<soap12bind:operation style="document"
					soapAction="http://tempuri.org/RegisterChildInternetShop"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="AddAcceptanceReport">
			<soap12bind:operation style="document"
					soapAction="http://tempuri.org/AddAcceptanceReport"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetServicesCost">
			<soap12bind:operation style="document"
					soapAction="http://tempuri.org/GetServicesCost"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="Sinc">
		<port name="SincSoap"
				binding="tns:SincSoap">
			<soapbind:address location="http://adminka.strizh-logistic.ru/services/v2/sinc.asmx"/>
		</port>
		<port name="SincSoap12"
				binding="tns:SincSoap12">
			<soap12bind:address location="http://adminka.strizh-logistic.ru/services/v2/sinc.asmx"/>
		</port>
	</service>
</definitions>